/**
 *  Fonts
 */

@font-face {
    font-family:"Brandon Grotesque Regular";
    src: url("../fonts/brandon_reg-webfont.eot");
    src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/brandon_reg-webfont.woff") format("woff"),
         url("../fonts/brandon_reg-webfont.ttf") format("truetype"),
         url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/**
 * Generic rules
 */

body{
  font-family:"Open Sans", Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}

/**
 * Layout
 */

header{
  background:#2A2E39;
  height:120px;
}

header h1{
  left:0;
  margin:0;
  padding:0;
  position:absolute;
  top:41px;
}

header h1 a{
  background:url(../img/logo.png) no-repeat;
  display:block;
  height:50px;
  outline:none;
  text-indent:-9999px;
  width:250px;
}

nav{
  top:47px;
  position:absolute;
  right:0;
}

nav h2{
  display:none;
}

nav ul{
  margin:0;
  padding:0;
}

nav ul li{
  border-right:1px solid #78839F;
  display:inline;
  list-style-type: none;
  padding:0 19px;
}

nav ul li:last-child{
  border:0;
  padding-right:0;
}

nav ul li a{
  color: white;
  font-family:"Brandon Grotesque Regular";
  font-size:18px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover{
  color:#EB6D4C;
}

nav ul li ul{
  display:none;
}

#spotlight{
  background:url(../img/banner.jpg) no-repeat center top;
}

#spotlight .wrapper{
  height:400px;
}

#spotlight h2{
  display:none;
}

#spotlight p{
  background:rgba(235,108,76,0.8);
  bottom:50px;
  color:white;
  font-family:"Brandon Grotesque Regular", Arial, sans-serif;
  font-size:43px;
  left:0;
  margin:0;
  padding:0 7px;
  position:absolute;
  text-transform:uppercase;
  width:426px;
}

#services{
  background:#EBEBE8;
  padding-bottom: 45px;
}

/* Clear Fix */
#services:after {
  content:"";
  display:table;
  clear:both;
}

#services h2{
  display:none;
}

#services article{
  float:left;
  text-align: center;
  margin-right:50px;
  width:300px;
}

#services article:last-child{
  margin-right:0;
}

#services article h3{
  color:#2A2E39;
  font-size:36px;
  font-weight:normal;
  margin:25px 0 10px 0;
  padding:0;
  text-transform:uppercase;
}

#services article a{
  color:#EB6D4C;
  font-size:20px;
  font-weight:bold;
  text-decoration:underline;
  text-transform:uppercase;
}

/* Clear Fix */
#portfolio:after {
  content:"";
  display:table;
  clear:both;
}

#portfolio .wrapper{
  width:100% !important;
}

#portfolio h2{
  display:none;
}

#portfolio p, #portfolio ul{
  margin:0;
  padding:0;
}

#portfolio ul li{
  float:left;
  list-style-type:none;
  overflow:hidden;
  padding:0;
  width:20%;
}

#portfolio ul li article{
  height:200px;
  position:relative;
}

#portfolio ul li article .info{
  background:#EB6D4C;
  bottom:0;
  color:white;
  display:none;
  left:0;
  padding:24px 28px 20px 20px;
  position:absolute;
  right:0;
  top:0;
}

#portfolio ul li article .info h3{
  color:white;
  font-size:20px;
  font-weight:bold;
  margin:0 0 16px 0;
  padding:0;
  text-transform: uppercase;
}

#portfolio ul li article .info p{
  color:black;
  font-size:14px;
}

#portfolio ul li article .info .readmore a{
  bottom:16px;
  color:white;
  text-decoration:none;
  text-transform:uppercase;
  position:absolute;
  z-index: 1;
}

#portfolio ul li article:hover .info{
  display: block;
}

#clients:after {
  content:"";
  display:table;
  clear:both;
}

#clients{
  background:#B6B6B6;
  padding:24px 0 48px 0;
}

#clients h2{
  font-family:"Brandon Grotesque Regular";
  font-size:36px;
  margin:0;
  padding:0;
  text-transform:uppercase;
}

#clients ul{
  margin:40px 0;
  padding:0;
  position:relative;
  text-align:center;
}

#clients ul:before{
  content: url(../img/arrow-left.png);
  position:absolute;
  left:-30px;
  top:10px;
}

#clients ul:after{
  content: url(../img/arrow-right.png);
  position:absolute;
  right:-30px;
  top:10px;
}

#clients ul li{
  display:inline-block;
  list-style-type: none;
  padding:0 30px;
}

/* Clear Fix */
footer:after {
  content:"";
  display:table;
  clear:both;
}

footer{
  background:#292E39;
  padding:24px 0 32px 0;
}

footer h2{
  display:none;
}

footer p{
  color: #B6B6B6;
  font-size:14px;
  margin:5px 0 0 0;
  padding: 0;
}

footer ul{
  margin:0;
  padding:0;
}

footer ul li{
  border-right:1px solid #B6B6B6;
  display:inline-block;
  list-style-type:none;
  padding:0 8px;
}

footer ul li:first-child{
  padding-left:0;
}

footer ul li:last-child{
  border-right:0;
}

footer ul li a{
  color:#EB6D4C;
  font-size:14px;
  text-decoration: none;
}

footer .social{
  position:absolute;
  right:0;
}

footer .social li{
  border-right:0;
}

footer .social li a{
  display:block;
  height:32px;
  outline:0;
  text-indent:-9999px;
  width:32px;
}

footer .social li a.facebook{
  background:url(../img/social-facebook.png) no-repeat;
}

footer .social li a.twitter{
  background:url(../img/social-twitter.png) no-repeat;
}

footer .social li a.youtube{
  background:url(../img/social-youtube.png) no-repeat;
}

footer .social li a.pinterest{
  background:url(../img/social-pinterest.png) no-repeat;
}

footer .social li a.rss{
  background:url(../img/social-rss.png) no-repeat;
}

/**
 * Classes
 */

.wrapper{
  margin: 0 auto;
  position:relative;
  width:1000px;
}
