/**
 * Generic rules
 */

body{
  font-family:Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}

/**
 * Layout
 */

header{
  background:#2A2E39;
  height:120px;
}

header h1{
  left:0;
  margin:0;
  padding:0;
  position:absolute;
  top:41px;
}

header h1 a{
  background:url(img/logo.png) no-repeat;
  display:block;
  height:50px;
  outline:none;
  text-indent:-9999px;
  width:250px;
}

nav{
  top:47px;
  position:absolute;
  right:0;
}

nav h2{
  display:none;
}

nav ul{
  margin:0;
  padding:0;
}

nav ul li{
  border-right:1px solid #78839F;
  display:inline;
  list-style-type: none;
  padding:0 19px;
}

nav ul li:last-child{
  border:0;
  padding-right:0;
}

nav ul li a{
  color: white;
  font-size:18px;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover{
  color:#EB6D4C;
}

nav ul li ul{
  display:none;
}

/**
 * Classes
 */

.wrapper{
  margin: 0 auto;
  position:relative;
  width:1000px;
}
